body {
	color: red;
	font-size: 120%;
	background: #000;
	margin: 0;
	padding: 0;
	overflow: hidden;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.war-in-europe {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.war-in-europe > .container {
	background-image: url('../assets/img/map.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	border: 1px solid #304861;
	--box-shadow: 8px 8px 8px 0 rgba(200, 200, 255, 0.2), -8px -8px 8px 0 rgba(200, 200, 255, 0.2);
}

.war-in-europe .container > * {
	margin: 0;
	padding: 0;
}
